.App {
  background-color: bisque;
}
.nav {
  background-color: aliceblue;
  border-radius: 30px;
  padding: 0%;
  text-align: center;
  height: 100%;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  width: 25%;
  justify-content: space-between;
}
.nav ul li {
  overflow: auto;
  font-size: medium;
  display: flex;
  width: 25%;
}
